.container{
    font-size: 25px;
}
#leftform{
background-color: lightslategray;
border: 1px;
width: 80%;
padding-left: 15px;
padding-right: 15px;
padding-top: 10px;
padding-bottom: 10px;
}
.container{
display:flex;
}
.column{
flex: 50%;
}